@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base;
  font-family: 'DM Sans';
}

.dark {
  color-scheme: dark;
}

@layer utilities {
  .border-base {
    @apply border-gray-200 dark:border-gray-800;
  }

  .bg-active {
    @apply bg-gray-700 bg-opacity-20;
  }

  .bg-base {
    @apply bg-white dark:bg-[#020420];
  }

  .bg-faded {
    @apply bg-gray-700 bg-opacity-10;
  }
}

/* overrides splitpanes */
.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  @apply border-base border-x;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 4px;
  @apply border-base border-y;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none;
}

.terminal.xterm {
  padding: 0 1.5em;
}

.terminal.xterm .xterm-rows {
  font-family: 'DM Mono';
}

.animated-gradient-text {
  --bg-size: 400%;
  --color-one: var(--animated-gradient-color-one);
  --color-two: var(--animated-gradient-color-two);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  animation: move-bg 8s infinite linear;
  color: transparent;
  background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: calc(var(--bg-size) * -1) 0;
  }
}
