@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base;
  font-family: 'DM Sans';
}

.dark {
  color-scheme: dark;
}

@layer utilities {
  .border-base {
    @apply border-gray-200 dark:border-gray-800;
  }

  .bg-active {
    @apply bg-gray-700 bg-opacity-20;
  }

  .bg-base {
    @apply bg-white dark:bg-[#020420];
  }

  .bg-faded {
    @apply bg-gray-700 bg-opacity-15;
  }
}

/* overrides splitpanes */
.splitpanes--vertical > .splitpanes__splitter {
  width: 16px;
  margin: 0 -8px;
  background: transparent;
  z-index: 10;
  position: relative;
  transition: background 0.2s ease;
}

.splitpanes--vertical > .splitpanes__splitter:hover {
  background: #8882;
}

.splitpanes--vertical > .splitpanes__splitter:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  @apply border-base border-r;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 16px;
  margin: -8px 0;
  background: transparent;
  z-index: 10;
  position: relative;
  transition: background 0.2s ease;
}

.splitpanes--horizontal > .splitpanes__splitter:hover {
  background: #8882;
}

.splitpanes--horizontal > .splitpanes__splitter:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  @apply border-base border-b;
}

.splitpanes__splitter:has(+ .pane-hidden) {
  display: none;
}

.terminal.xterm {
  padding: 0 1.5em;
}

.terminal.xterm .xterm-rows {
  font-family: 'DM Mono';
}

.animated-gradient-text {
  --bg-size: 400%;
  --color-one: var(--animated-gradient-color-one);
  --color-two: var(--animated-gradient-color-two);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  animation: move-bg 8s infinite linear;
  color: transparent;
  background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: calc(var(--bg-size) * -1) 0;
  }
}
