@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base;
  font-family: 'DM Sans';
}

@layer utilities {
  .border-base {
    @apply border-gray-200 dark:border-gray-800;
  }

  .bg-active {
    @apply bg-gray-700 bg-opacity-20;
  }

  .bg-base {
    @apply bg-white dark:bg-[#020420];
  }
}

/* overrides splitpanes */
.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  @apply border-base border;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 4px;
  @apply border-base border;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none;
}
